on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

name: run lints

env:
  PYTHON_VERSION: 3.12
  POETRY_VERSION: 1.7.1

jobs:
  lint:
    name: fastapi-experiment
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: install python
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential
          uv python install

      - name: install deps
        run: |
          uv tool install ruff
          uv sync --all-extras --dev

      - name: run lint check
        run: make check
